@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Noto Sans KR';
  --font-serif: 'Noto Serif KR';
  --font-display: 'Gowun Dodum';
}

html, body {
  height: 100%;
}

body {
  color: #2b271f;
  background: #fdfbf7;
}
